<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form class="registration-form" [formGroup]="registrationForm">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <!--Use the name `name` for the form control.-->
        <input type="text" id="name" placeholder="Input text" formControlName="name"/>
        <span
          id="nameErrorMessage"
          class="text-danger"
          *ngIf="registrationForm.get('name')?.invalid
            && (registrationForm.get('name')?.touched || registrationForm.get('name')?.dirty)">
          Name is required.
        </span>
      </div>
      <div class="form__control">
        <!--Use the name `email` for the form control.-->
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Input text" formControlName="email"/>
        <span
          id="emailErrorMessage"
          class="text-danger"
          emailValidator
          *ngIf="registrationForm.get('email')?.invalid
            && (registrationForm.get('email')?.touched || registrationForm.get('email')?.dirty)">
          Email is required.
        </span>
      </div>
      <div class="form__control">
        <!--Use the name `password` for the form control.-->
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Input text" formControlName="password"/>
        <span
          id="passwordErrorMessage"
          class="text-danger"
          *ngIf="registrationForm.get('password')?.invalid
            && (registrationForm.get('password')?.touched || registrationForm.get('password')?.dirty)">
          Password is required.
        </span>
      </div>
    </div>
    <div class="form__action">
      <app-button>Login</app-button>
    </div>
    <div class="form__text">
      If you have an account you may <a routerLink="/login"><strong>Login</strong></a>
    </div>
  </form>
</div>
