<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" placeholder="Input text" [(ngModel)]="email" required emailValidator #name="ngModel"/>
          <span
            id="emailErrorMessage"
            class="text-danger"
            *ngIf="name.errors?.['required'] && (name.touched || loginForm.submitted)">
            Email is required.
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Input text" [(ngModel)]="password" required #name="ngModel"/>
          <span 
            id="passwordErrorMessage"
            class="text-danger"
            *ngIf="name.errors?.['required'] && (name.touched || loginForm.submitted)">
            Password is required.
          </span>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button buttonText="Login" (click)="login()"></app-button>
        </div>
        <div class="form__text">
            If you don't have an account you may <a routerLink="/registration"><strong>Register</strong></a>
        </div>
      </div>
    </div>
  </form>
</div>
